In [1]:
# Importing the libraries 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

In [3]:
# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

In [4]:
# Import psql to run queries 

import pandasql as psql

In [5]:
# load the Health Insurance dataset 

HealthIns = pd.read_csv(r"Health_Ins_Expenses.csv", header=0)

In [6]:
# Copy to back-up file

HealthIns_BK = HealthIns.copy()

In [7]:
# Display the first 5 records

HealthIns.head()

      Record_ID  Age Gender    BMI  Children Smoker     Region  Expenses
0  QK-136276906   43   male  36.25         1    yes  southeast  40293.04
1  NR-126120553   40   male  34.56         2     no  southeast  23569.63
2  HY-182936067   48   male  26.04         5     no  southwest  10115.35
3  HF-142445422   50   male  31.09         3    yes  northwest  40736.57
4  NM-183693148   42   male  33.04         1    yes  northeast  39144.85

In [8]:
# Display the dataset information

HealthIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6695 entries, 0 to 6694
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Record_ID  6695 non-null   object
 1   Age        6695 non-null   int64
 2   Gender     6695 non-null   object
 3   BMI        6695 non-null   float64
 4   Children   6695 non-null   int64
 5   Smoker     6695 non-null   object
 6   Region     6695 non-null   object
 7   Expenses   6695 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 418.6+ KB

In [9]:
# Displaying Duplicate values with in dataset

HealthIns_dup = HealthIns[HealthIns.duplicated(keep='last')]

In [10]:
# Display the duplicat records
HealthIns_dup

        Record_ID  Age  Gender    BMI  Children Smoker     Region  Expenses
240  ZZ-131148293   22  female  24.73         1     no  southeast   2216.02
241  BQ-160063838   21  female  37.40         0     no  southeast   1634.08
242  UO-189044287   57    male  43.70         1     no  southwest  11576.13
246  OT-130753432   41  female  30.18         1     no  southeast   6515.36
247  BH-153144132   50    male  36.20         0     no  southwest   8457.82

In [11]:
# Remove the identified duplicate records 

HealthIns = HealthIns.drop_duplicates()

In [12]:
# Display the shape of the dataset

HealthIns.shape

(6690, 8)

In [13]:
# Re-setting the row index

HealthIns = HealthIns.reset_index(drop=True)

In [14]:
# Copy file to back-up file after deletion of duplicate records

HealthIns_BK2 = HealthIns.copy()

In [15]:
# Display the dataset information after delection of duplicates

HealthIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6690 entries, 0 to 6689
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Record_ID  6690 non-null   object
 1   Age        6690 non-null   int64
 2   Gender     6690 non-null   object
 3   BMI        6690 non-null   float64
 4   Children   6690 non-null   int64
 5   Smoker     6690 non-null   object
 6   Region     6690 non-null   object
 7   Expenses   6690 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 418.2+ KB

In [16]:
# Display the unique values of the all the variables

HealthIns.nunique()

Record_ID    6690
Age            51
Gender          2
BMI          2227
Children        6
Smoker          2
Region          4
Expenses     6673
dtype: int64

In [17]:
# Display the missing values information of variables

HealthIns.isnull().sum()

Record_ID    0
Age          0
Gender       0
BMI          0
Children     0
Smoker       0
Region       0
Expenses     0
dtype: int64

In [18]:
# Display 'Gender' categorical variable 

HealthIns['Gender'].value_counts()

male      3401
female    3289
Name: Gender, dtype: int64

In [19]:
# Replace 'Gender' variable and convert to integer value.

HealthIns['Gender'] = HealthIns['Gender'].str.replace('female', '0')
HealthIns['Gender'] = HealthIns['Gender'].str.replace('male', '1')
HealthIns['Gender'] = HealthIns['Gender'].astype(int)

In [20]:
# Display 'Smoker' categorical variable 

HealthIns['Smoker'].value_counts()

no     5320
yes    1370
Name: Smoker, dtype: int64

In [21]:
# Replace 'Smoker' variable and convert integer value.

HealthIns['Smoker'] = HealthIns['Smoker'].str.replace('no', '0')
HealthIns['Smoker'] = HealthIns['Smoker'].str.replace('yes', '1')
HealthIns['Smoker'] = HealthIns['Smoker'].astype(int)

In [22]:
# Display 'Region' categorical variable 

HealthIns['Region'].value_counts()

southeast    1820
southwest    1625
northwest    1625
northeast    1620
Name: Region, dtype: int64

In [23]:
# Replace 'Region' variable and convert to integer value.

HealthIns['Region'] = HealthIns['Region'].str.replace('northeast', '0')
HealthIns['Region'] = HealthIns['Region'].str.replace('northwest', '1')
HealthIns['Region'] = HealthIns['Region'].str.replace('southeast', '2')
HealthIns['Region'] = HealthIns['Region'].str.replace('southwest', '3')
HealthIns['Region'] = HealthIns['Region'].astype(int)

In [24]:
# Display the dataset information after transformation of data

HealthIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6690 entries, 0 to 6689
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Record_ID  6690 non-null   object
 1   Age        6690 non-null   int64
 2   Gender     6690 non-null   int32
 3   BMI        6690 non-null   float64
 4   Children   6690 non-null   int64
 5   Smoker     6690 non-null   int32
 6   Region     6690 non-null   int32
 7   Expenses   6690 non-null   float64
dtypes: float64(2), int32(3), int64(2), object(1)
memory usage: 339.9+ KB

In [25]:
# Display all the variables

HealthIns.columns

Index(['Record_ID', 'Age', 'Gender', 'BMI', 'Children', 'Smoker', 'Region',
       'Expenses'],
      dtype='object')

In [26]:
# Identify the variables for scaling (MinMaxScalar)

cols = ['Age', 'BMI', 'Children','Region']

In [27]:
# Delete variables which are not influencing the target variable

del HealthIns['Record_ID']

In [28]:
# Identify the independent and Target (dependent) variables

IndepVar = []
for col in HealthIns.columns:
    if col != 'Expenses':
        IndepVar.append(col)

TargetVar = 'Expenses'

x = HealthIns[IndepVar]
y = HealthIns[TargetVar]

In [29]:
# Split the data into train and test (random sampling)

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [30]:
# Display the shape for train & test data

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((4683, 6), (2007, 6), (4683,), (2007,))

In [31]:
# Scaling the features by using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train[cols] = mmscaler.fit_transform(x_train[cols])
x_train = pd.DataFrame(x_train)

x_test[cols] = mmscaler.fit_transform(x_test[cols])
x_test = pd.DataFrame(x_test)

In [32]:
# Train the algorithm and build the model with train dataset

from sklearn.linear_model import LinearRegression

In [33]:
# Create an object for regression model

ModelRGR = LinearRegression()

In [34]:
# Train the model with training dataset

ModelRGR.fit(x_train, y_train)

LinearRegression()

In [35]:
# Predict the model with test dataset

y_pred = ModelRGR.predict(x_test)

In [36]:
# Evaluation metrics for Regression analysis

from sklearn import metrics

print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))

Mean Absolute Error (MAE): 4263.032
Mean Squared Error (MSE): 36555289.434
Root Mean Squared Error (RMSE): 6046.097
R2_score: 0.757411
Root Mean Squared Log Error (RMSLE): 8.707

In [37]:
# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

In [38]:
# Evaluation of MAPE 

result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')

Mean Absolute Percentage Error (MAPE): 44.906 %

In [39]:
# Calculate Adjusted R squared values 

r_squared = round(metrics.r2_score(y_test, y_pred),6)
adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
print('Adj R Square: ', adjusted_r_squared)

Adj R Square:  0.757193

In [40]:
# Display the Final results 

Results = pd.DataFrame({'Expenses_A':y_test, 'Expenses_P':y_pred})

# Merge two Dataframes on index of both the dataframes

ResultsFinal = HealthIns_BK2.merge(Results, left_index=True, right_index=True)

In [41]:
# Display 10 records randomly

ResultsFinal.sample(10)

,Record_ID,Age,Gender,BMI,Children,Smoker,Region,Expenses,Expenses_A,Expenses_P
4739,KV-180707302,58,female,20.50,1,no,southwest,12051.27,12051.27,8488.146866
2348,XX-181378382,31,male,23.51,0,yes,northeast,16145.04,16145.04,26513.057525
4129,WW-190551843,45,male,38.87,2,yes,southeast,42565.81,42565.81,35694.621061
782,VG-156562453,24,male,34.92,0,no,southwest,1840.11,1840.11,4200.614520
794,FS-156379918,19,female,41.05,0,no,northeast,2231.49,2231.49,6400.424081
2310,GJ-152756916,22,male,26.63,0,no,northeast,1719.42,1719.42,1839.806508
4046,MJ-173510251,21,male,28.27,0,yes,southwest,16305.38,16305.38,24662.783660
323,CW-178032497,34,male,30.66,0,no,southeast,3714.81,3714.81,5549.284831
6289,BN-169779415,42,male,22.39,1,no,northwest,6127.94,6127.94,5531.320000
2588,JJ-138255632,57,male,28.21,0,no,northwest,10602.36,10602.36,10761.294421

In [42]:
del ResultsFinal['Expenses_A']

ResultsFinal.sample(10)

,Record_ID,Age,Gender,BMI,Children,Smoker,Region,Expenses,Expenses_P
5438,XC-176939425,60,female,35.10,0,no,southwest,12644.59,13528.198906
4480,IP-182516496,42,male,36.00,2,no,southeast,7160.33,10436.887559
79,SY-193783633,46,female,30.55,2,no,southeast,8230.16,9847.267825
3065,QW-182137684,42,male,35.80,2,no,southwest,7160.09,10029.991580
319,TX-188453169,19,male,25.61,0,no,northeast,2210.60,739.340587
3720,MH-145749953,59,female,26.05,3,no,northeast,13065.13,12718.966971
1599,VJ-130283744,52,female,37.20,3,no,southeast,10400.77,14169.403954
1305,MP-148958841,20,male,43.51,0,no,southeast,1167.51,6522.263660
5948,YF-181438723,25,female,36.50,0,no,northwest,2424.70,5977.922267
469,OD-128173631,33,female,31.61,3,no,southwest,5334.71,7164.047805

In [43]:
# Display the back-up file for sql queries

HealthIns_BK2.head()

      Record_ID  Age Gender    BMI  Children Smoker     Region  Expenses
0  QK-136276906   43   male  36.25         1    yes  southeast  40293.04
1  NR-126120553   40   male  34.56         2     no  southeast  23569.63
2  HY-182936067   48   male  26.04         5     no  southwest  10115.35
3  HF-142445422   50   male  31.09         3    yes  northwest  40736.57
4  NM-183693148   42   male  33.04         1    yes  northeast  39144.85

In [44]:
Data_QP_New01 = psql.sqldf("select * \
                           from HealthIns_BK2 \
                           where Age > 25 \
                           and Gender = 'male'\
                           and Children = 2 \
                           ")
                           
Data_QP_New01.head()

      Record_ID  Age Gender    BMI  Children Smoker     Region  Expenses
0  NR-126120553   40   male  34.56         2     no  southeast  23569.63
1  KP-155614235   47   male  24.53         2     no  northeast   8615.27
2  GI-187366806   41   male  37.10         2     no  northwest   7265.70
3  UP-152769595   43   male  36.11         2     no  southwest   7167.25
4  XJ-145033802   30   male  33.42         2     no  southeast   4352.10

In [45]:
Data_QP_New02 = psql.sqldf("select * \
                           from HealthIns_BK2 \
                           where Age < 25 \
                           and Gender = 'female' \
                           ")
                           
Data_QP_New02.head()

      Record_ID  Age  Gender    BMI  Children Smoker     Region  Expenses
0  SE-170186154   20  female  31.09         0     no  northeast   2208.78
1  IQ-164486547   23  female  18.38         0     no  southwest   1744.52
2  VX-191681772   21  female  28.65         1     no  southwest   2351.29
3  RI-163318807   24  female  36.19         0     no  northwest   2411.45
4  QZ-134808507   19  female  29.80         0     no  southwest   1744.47